<h2 class= "ml-5"> Your Trips: </h2>
<div class="container p-3">
<div class="row justify-content-md-center">
<% @trips.each do |t|%>
    <span class = "border p-3">
    <div class="col col-md-auto ml-md-auto">
        <%=link_to "#{t.name}", trip_path(t)%>
    </div>
    </span>
    <br>
<%end%>
</div>
<br>
<h2 class= "ml-5"> Where You've Been: </h2><br>
<div class="container p-3">
<div class="row justify-content-md-center">
    <% if @current_user.user_locations %>
        <%@current_user.user_locations.each do |l|%>
            <span class = "border p-3">
            <div class="col col-md-auto ml-md-auto">
                <%=l%>
            </div>
            </span>
        <%end%>
    <% else %>
        <%= link_to "Create a new location", new_location_path%>
     <%end%>
</div>
</div>